{% extends 'ButenkoBlogBundle::layout.html.twig' %}

{% block header %}
    <div class="blog-masthead">
        <div class="container">
            <nav class="blog-nav">
                <a class="blog-nav-item" href="{{ path('butenko_blog_homepage') }}">Home</a>
                <a class="blog-nav-item" href="{{ path('butenko_about_me') }}">About me</a>
                <a class="blog-nav-item active" href="{{ path('butenko_guest_book') }}">GuestBook</a>
            </nav>
        </div>
    </div>
{%  endblock %}

{% block main %}
    {{ form(form) }}

    {% for guestRecord in guestRecords %}
        {{ guestRecord.getName() }}
        </br>
        {{ guestRecord.getPublished()|date("m/d/Y") }}
        </br>
        {{ guestRecord.getEmail() }}
        </br>
        {{ guestRecord.getText() }}
        </br>

    {% endfor %}
{% endblock %}

