{#{% extends 'ButenkoBlogBundle:Default:blog.html.twig' %}#}

{% block title %}
    <h1 class="blog-title">New article</h1>
    <p class="lead blog-description">Fill required fields</p>
{% endblock %}

{% block main %}

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_row(form.title) }}
        {{ form_row(form.category) }}
        {{ form_row(form.content) }}

        <h3>Tags</h3>
        <ul class="tags" data-prototype="{{ form_widget(form.tags.vars.prototype)|e }}">
            {# iterate over each existing tag and render its only field: name #}
            {% for tag in form.tags %}
                <li>{{ form_row(tag.name) }}</li>
            {% endfor %}
        </ul>
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {#<script src="{{ asset('myjs.js') }}"></script>#}
    {#<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>#}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    {% javascripts '@ButenkoBlogBundle/Resources/public/js/tags.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}