

{{ form_start(form) }}
    {{ form_row(form.title) }}

    <h4>Category</h4>
    {{ form_row(form.category) }}

    <h4>Tags</h4>
    <ul class="tags" data-prototype="{{ form_widget(form.tags.vars.prototype)|e }}">
        {% for tag in form.tags %}
            <li>{{ form_row(tag.name) }}</li>
        {% endfor %}
    </ul>
{{ form_end(form) }}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
{% javascripts '@ButenkoBlogBundle/Resources/public/js/tags.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}