{% extends 'ButenkoBlogBundle:Default:index.html.twig' %}

{% block head %}
    <div class="blog-masthead">
        <div class="container">
            <nav class="blog-nav">
                <a class="blog-nav-item active" href="{{ path('butenko_blog_homepage') }}">Home</a>
                <a class="blog-nav-item" href="{{ path('butenko_about_me') }}">About me</a>
                <a class="blog-nav-item" href="{{ path('butenko_guest_book') }}">GuestBook</a>
            </nav>
        </div>
    </div>
{% endblock %}

{% block main %}
    <div class="col-sm-8 blog-main">

        {% for article in articles %}
            <div class="blog-post">
                <h2 class="blog-post-title">
                    <a href="{{ path('butenko_blog_show_article', {'slug': article.getSlug()} ) }}">
                        {{ article.getTitle() }}
                    </a>
                </h2>
                <p class="blog-post-meta">{{ article.getPublished()| date("m/d/Y") }}</p>
                <p> Category: <a href="{{ path('butenko_blog_show_by_category', {'id':article.getCategory().getId()}) }}">
                        {{ article.getCategory().getName }}</a>
                </p>

                <div class="well">
                    <p> {{ article.getContent() }} </p>
                </div>
                <p> Tags </p>
                {% for tag in article.getTags() %}
                    <a href="{{ path('butenko_blog_show_by_tag', {'id':tag.getId()}) }}">
                        {{ tag.getName }}
                    </a>
                {% endfor %}
            </div><!-- /.blog-post -->
        {% endfor %}

    </div><!-- /.blog-main -->
{% endblock %}